*{
    margin: 0 ;
    padding:0 ;
    
}
.carousel{
    margin-bottom:100px;
}

/*轮播指示器*/
@media screen and (min-width: 992px) {
    .carousel-indicators li{
        width: 50px;
        background:#fff;
        margin-bottom:450px; 
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-indicators li{
        width: 50px;
        background:#fff;
        margin-bottom:750px; 
    }
}
@media screen and (max-width: 767px) {
    .carousel-indicators li{
        width: 30px;
        background:#fff;
        margin-bottom:750px; 
    }
    .carousel-control-prev,.carousel-control-next{
        height: 50%;
        top: 100%;
    }

}


.carousel-indicators li.active{
    background:#0aa1ed;

}

.carousel-control-prev,.carousel-control-next{
    width: 2%;
    height:15%;
    background: #aaa;
    border-radius: 0.5rem;
    top: 20%;
}

.container em{
  font-style: normal;
   width: 160px;
   height: 42px;
   color: #0097ff;
}
.container{
    font-family: 微软雅黑;
}

.font_16{
    font-size: 12px;
    margin-bottom: 20px;
}

.zan{
    
    border: 2px #0396fe solid;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
}


a{text-decoration:none;outline:0 none;}
.header { height: 90px; }
.width1200 { width: 1200px; margin: auto; position: relative; }
.logo { position: absolute; top: 20px; left: 0; width: 152px; height: 50px; background: url(../img/logo.png) no-repeat center/100%; text-indent: -99999px; }
.nav-lists { text-align: right; padding: 25px 0; }
.nav-consult { position: absolute; top: 24px; right: 0; }
.nav-btn { display: inline-block; width: 100px; height: 40px; line-height: 40px; background: #ff0000; color: #fff; font-size: 18px; text-align: center; border-radius: 4px; cursor: pointer; margin-left: 20px; }
.nav-btn a { color: #fff; }
.header { height: 90px; }
.logo { position: absolute; top: 20px; left: 0; width: 152px; height: 50px; background: url(../img/logo.png) no-repeat center/100%; text-indent: -99999px; }
.nav-lists { text-align: right; padding: 25px 0; }
.nav-lists ul { padding-right: 240px; }
.nav-lists li { display: inline-block; margin: 0 13px; min-height: 40px; line-height: 40px; position: relative; cursor: pointer; }
.nav-lists li a { display: block; font-size: 16px; color: #3e3a39; position: relative; outline: none; }
.nav-lists li:after { content: ""; position: absolute; left: 0; right: 0; bottom: 0; margin: auto; width: 0%; height: 2px; background: #298edc; }
.nav-lists .active:after { content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background: #298edc; }
.nav-lists li:hover:after { width: 100%; transition: all .2s ease-in-out; }


