*{
    margin: 0 ;
    padding:0 ;
    
}
.carousel{
    margin-bottom:100px;
}

/*轮播指示器*/
@media screen and (min-width: 992px) {
    .carousel-indicators li{
        width: 50px;
        background:#fff;
        margin-bottom:550px; 
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-indicators li{
        width: 50px;
        background:#fff;
        margin-bottom:650px; 
    }
}
@media screen and (max-width: 767px) {
    .carousel-indicators li{
        width: 30px;
        background:#fff;
        margin-bottom:750px; 
    }
    .carousel-control-prev,.carousel-control-next{
        height: 50%;
        top: 100%;
    }

}


.carousel-indicators li.active{
    background:#0aa1ed;

}

.carousel-control-prev,.carousel-control-next{
    width: 2%;
    height:15%;
    background: #aaa;
    border-radius: 0.5rem;
    top: 10%;
}

.container em{
  font-style: normal;
   width: 160px;
   height: 42px;
   color: #0097ff;
}
.container{
    font-family: 微软雅黑;
}

.font_16{
    font-size: 12px;
    margin-bottom: 20px;
}

.zan{
    
    border: 2px #0396fe solid;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
}



