*{margin:0;padding: 0;
box-sizing:border-box;
font-weight:normal;
font-style:normal;}
.d1{width:1459px;}
.d2{width:1225px;margin:40px -25px 0 0;list-style:none;}
.d3{width:586px;}
img {
    vertical-align: top;
    max-width: 100%;
    border:0 none;
}
li{text-align:-webkit-match-parent;}