.image {
    width: 100%;
}

.ys {
    position: absolute;
    top: 20px;
    right: -790px;
    width: 360px;
    height: 300px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    padding: 30px;
}

.dz {
    position: absolute;
    margin: 5px auto 0;
    width: 250px;
    height: 50px;
    line-height: 46px;
    font-size: 20px;
    color: #0396fe;
    border: 2px #0396fe solid;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    top: 280px;
    left: 80px;
}

.wz3 {
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 560px;
    height: 50px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, .5);
}

.rel {
    position: relative;
    margin: 50px;
    width: 1200px;
    height: 400px;
    padding-bottom: 50px;
    margin: auto;
}

.left {
    position: absolute;
}

.right {
    position: relative;
}

.image2 {
    width: 822px;
    height: 400px;
}

.wz1 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
}

.wz2 {
    font-size: 18px;
    color: #999;
    line-height: 34px;
}

a {
    text-decoration: none;
    outline: 0 none;
}

.header {
    height: 90px;
}

.width1200 {
    width: 1200px;
    margin: auto;
    position: relative;
}

.logo {
    position: absolute;
    top: 20px;
    left: 0;
    width: 152px;
    height: 50px;
    background: url(../img/logo.png) no-repeat center/100%;
    text-indent: -99999px;
}

.nav-lists {
    text-align: right;
    padding: 25px 0;
}

.nav-consult {
    position: absolute;
    top: 24px;
    right: 0;
}

.nav-btn {
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    background: #ff0000;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
}

.nav-btn a {
    color: #fff;
}

.header {
    height: 90px;
}

.logo {
    position: absolute;
    top: 20px;
    left: 0;
    width: 152px;
    height: 50px;
    background: url(../img/logo.png) no-repeat center/100%;
    text-indent: -99999px;
}

.nav-lists {
    text-align: right;
    padding: 25px 0;
}

.nav-lists ul {
    padding-right: 240px;
}

.nav-lists li {
    display: inline-block;
    margin: 0 13px;
    min-height: 40px;
    line-height: 40px;
    position: relative;
    cursor: pointer;
}

.nav-lists li a {
    display: block;
    font-size: 16px;
    color: #3e3a39;
    position: relative;
    outline: none;
}

.nav-lists li:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 0%;
    height: 2px;
    background: #298edc;
}

.nav-lists .active:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #298edc;
}

.nav-lists li:hover:after {
    width: 100%;
    transition: all .2s ease-in-out;
}